.sort{
	margin-bottom: 20px;
}
.sort-item{
	margin-top: 20px;
	float: left;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:1px solid #000;
	margin-right: -1px;
	cursor: pointer;
}
.sort-item.active{
	background-color: #f21;
	color:#fff;
	border-color: #f21;
}
.sort-item.sort-up .sort-down{
	color:#888;
}
.sort-item.sort-down .sort-up{
	color:#888;
}