<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./common/header.html')%>	
	<title><%= htmlWebpackPlugin.options.title %> -KMALL电商平台</title>
</head>
<body>
	<%= require('html-loader!./common/nav.html')%>
	<%= require('html-loader!./common/search.html')%>
	<div class="detail">
		<div class="container clearfix">
			<div class="detail-box">
				<div class="product-intro clearfix">
					<div class="product-img">
						<div class="product-main-img">
							<img src="http://127.0.0.1:3001/resource/1536118801110.jpg" alt="" />
						</div>
						<ul class="product-small-img-list clearfix">
							<li class="product-small-img-item">
								<img src="http://127.0.0.1:3001/resource/1536118801110.jpg" alt="" />
							</li>
							<li class="product-small-img-item">
								<img src="http://127.0.0.1:3001/resource/1536118801110.jpg" alt="" />
							</li>
							<li class="product-small-img-item">
								<img src="http://127.0.0.1:3001/resource/1536118801110.jpg" alt="" />
							</li>
							<li class="product-small-img-item">
								<img src="http://127.0.0.1:3001/resource/1536118801110.jpg" alt="" />
							</li>
							<li class="product-small-img-item">
								<img src="http://127.0.0.1:3001/resource/1536118801110.jpg" alt="" />
							</li>
						</ul>
					</div>
					<div class="product-info">
						<h2 class="product-name">苹果手机</h2>
						<p class="product-desc">xxxx</p>
						<div class="product-info-item product-price">
							<span class="label">价格:</span>
							<span class="info">￥111</span>
						</div>
						<div class="product-info-item">
							<span class="label">库存:</span>
							<span class="info">11</span>
						</div>
						<div class="product-info-item product-count">
							<span class="label">数量:</span>
							<input type="text" value="1" class="count-input" />
							<span class="count-btn plus">+</span>
							<span class="count-btn minus">-</span>
						</div>
						<div class="add-cart">
							<a href="javascript:;" class="btn">添加购物车</a>
						</div>
					</div>
				</div>	
				<div class="product-detail">
					<div class="tab">
						<ul class="tab-list">
							<li class="tab-item active">商品详情</li>
							<li class="tab-item">用户评论</li>
						</ul>
						<div class="tab-content">
							detail...
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<%= require('html-loader!./common/footer.html')%>
</body>
</html>